p Welcome to meta-game, here are the available games:
ul
  li
    a(href="./games/multiply") Chat multiplication game
  li
    a(href="./games/sum") Chat sum game
p
  a(href="http//github.com/vysogot/node-multi-game") How can I add my own game?
