!!! 5
html
  head
    title Node Multi Game
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #header
      h1
        a(href="/", title="Back to main page") Node Multi Game
    #menu
      ul
        li
          a(href="/") About
          a(href="/games/multiply") Multiply
          a(href="/games/sum") Sum
    #content
      != body
